<?xml version="1.0" encoding="utf-8"?>

<manifest 
		xmlns:android="http://schemas.android.com/apk/res/android"
		package="org.odk.clinic.android" 
		android:versionCode="1"
		android:versionName="1.0">

	<application 
		android:icon="@drawable/icon" 
		android:label="@string/app_name"
		android:name=".application.Clinic"
		android:theme="@android:style/Theme.Light">
		
		<activity 
			android:name=".activities.ListPatientActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity 
			android:name=".activities.DownloadPatientActivity"
			android:label="@string/app_name" />
		<activity 
			android:name=".activities.PreferencesActivity"
			android:label="@string/app_name" />
			<activity 
			android:name=".activities.ViewPatientActivity"
			android:label="@string/app_name" />
		<activity 
			android:name=".activities.ObservationChartActivity"
			android:label="@string/app_name" />
		<activity 
			android:name=".activities.ObservationTimelineActivity"
			android:label="@string/app_name" />
			
		<activity android:name=".activities.LocalFileManagerList" android:label="@string/app_name"/>

    	<activity android:name=".activities.FileManagerTabs" android:label="@string/app_name"/>
    	<activity android:name=".activities.FormChooserList" android:label="@string/app_name"/>
    	<activity android:name=".activities.FormManagerList" android:label="@string/app_name"/>
    	<activity android:name=".activities.DataManagerList" android:label="@string/app_name"/>
    	<activity android:name=".activities.FormDownloadList" android:label="@string/app_name"/>
    	<activity android:name=".activities.GeoPointActivity" android:label="@string/app_name"/>
    	<activity android:name=".activities.FormHierarchyActivity" android:label="@string/app_name"/>
			
		<activity android:name=".activities.FormEntryActivity" android:label="@string/app_name"
    			android:windowSoftInputMode="adjustResize" > 
		    <!-- the intent filter below is a bit of a hack until we create a content provider for forms -->
		    <intent-filter>
		    	<action android:name="org.odk.clinic.android.action.FormEntry"/>
				<category android:name="android.intent.category.DEFAULT"/>
		    </intent-filter>
		    <!-- this is what we should be doing once we have the content provider working -->
		    <intent-filter>
		    	<action android:name="android.intent.action.VIEW" />
		    	<action android:name="android.intent.action.EDIT" />
		    	<category android:name="android.intent.category.DEFAULT"/>
		    	<!-- need to add something like:
		    	 <data android:mimeType="vnd.android.cursor.item/vnd.google.note" />
		    	 here once we make a contentProvider for forms.
		    	 -->
		    </intent-filter>   
	    </activity>
    
	</application>
	
	<uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.INTERNET"/>
  	<uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.ACCESS_SURFACE_FLINGER"/>
  	<uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.ACCESS_FINE_LOCATION"/>
  	<uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  
	<uses-sdk android:minSdkVersion="3"></uses-sdk>
	
</manifest>